#game {
    border: 1px solid black;
	float: left;
}

#highScores {
	padding-top: 30px;
	/* tbd replace high scores below game */
}

#answerPane {
	padding-left: 320px;
}

h2, h3, h4, h5 { 
	font-weight: normal;
}

body {
	font-family: sans-serif;
}