#game {
    border: 1px solid black;
	float: left;
}

#highScores {
	padding-top: 30px;
	/* tbd move high scores to below game */
}

#answerPane {
	padding-left: 320px;
}

#answer {
	width: 300px;
}

h2, h3, h4, h5 { 
	font-weight: normal;
}

body {
	font-family: sans-serif;
}

#settingsDiv {
	border: 1px solid black;
	padding: 10px;
	width: 600px;
}